
// theme-color-variables
$primary:       #2D4990;
$secondary:     #3851A2;
$light:         #21CDC0;
$dark:          #0E204D;
$gray:          #848E9F;

// theme-colors-map
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "light":      $light,
  "dark":       $dark
);

@import '../node_modules/bootstrap/scss/bootstrap.scss';