
// theme-color-variables
$primary:       #2D4990;
$secondary:     #3851A2;
$light:         #21CDC0;
$dark:          #0E204D;
$gray:          #848E9F;

// theme-colors-map
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "light":      $light,
  "dark":       $dark
);

// navbar

$navbar-light-active-color: $dark;
$navbar-nav-link-padding-x: 12px;
$navbar-toggler-border-radius: 10px;

// button
$btn-font-size:     12px;
$btn-border-radius: 20px;
$btn-border-width:  0px;
$btn-padding-y:     10px;
$btn-padding-x:     25px;

@import '../node_modules/bootstrap/scss/bootstrap.scss';