@use '../components/colors' as *;

// btn border radius, width, font sizes and padding change in _custome.scss

.btn-light{
  color: white;

  &:hover{
    background-color: $dark;
    color: $light;
    border: none;
  }
}

.btn-dark{
  color: white;

  i{
    color: $light;
  }

  &:hover{
    background-color: $primary;
    border: none;
  }
}

.btn-trans{
  color: $light;
  padding: 0;

  i{
    color: $light;
  }
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 9999;
  background-color: $dark;
  color: white;
  // border: $light solid 1px;
  border: none;
  border-radius: 15px;
  transition: 0.5s;
  padding: 10px;
}

#btn-back-to-top:hover{
  padding-top: 15px;
  padding-bottom: 15px;
}

.btn-check:focus+.btn, .btn:focus {
  outline: 0;
  box-shadow: none;
}