@use '../components/colors' as *;

// btn border radius, width, font sizes and padding change in _custome.scss

.btn-light{
  color: white;

  &:hover{
    background-color: $dark;
    color: $light;
    border: none;
  }
}

.btn-dark{
  color: white;

  i{
    color: $light;
  }

  &:hover{
    background-color: $primary;
    border: none;
  }
}

.btn-trans{
  color: $light;
  padding: 0;

  i{
    color: $light;
  }
}