@use 'colors' as *;

//font styles

@mixin heading_style{
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
  color: $dark;
  letter-spacing: 1px;
}

// backgrounds

@mixin lightBg{
  background-image: url(../../../assets/img/lightBg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}