@use 'mixing' as *;
@use 'colors' as *;

h1{
  @include heading_style;
  font-size: 70px;
}

h2{
  @include heading_style;
  font-size: 40px;
}

h3{
  @include heading_style;
  font-size: 37px;
}

h4{
  @include heading_style;
  font-size: 23px;
}

h5{
  @include heading_style;
  font-size: 19px;
}

h6{
  @include heading_style;
  font-size: 16px;
}

p{
  font-family: 'Roboto', sans-serif;
  color: $gray;
  font-size: 13px;
}