.navbar {
  background-color: white;
  padding: 0;
  z-index: 999;
}
.navbar .navbar-nav a {
  font-size: 12px;
  font-weight: bold;
  color: #3851A2;
}
.navbar .navbar-nav a:hover, .navbar .navbar-nav a :active {
  color: #0E204D;
}
.navbar .navbar-nav .dropdown-item:active {
  background-color: #21CDC0;
}

.topnav_bar {
  background-color: #0E204D;
  padding: 8px;
  z-index: 999;
  position: relative;
}
.topnav_bar p {
  color: white;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 1px;
}
.topnav_bar p i {
  color: #21CDC0;
  padding: 3px;
}
.topnav_bar p i:hover {
  color: white;
}

.swiper {
  width: 100%;
  height: 100vh;
  margin-top: -101px;
}
.swiper .slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.swiper .slide .sliderText {
  position: absolute;
  bottom: 70px;
}
.swiper .swiper-pagination {
  left: 90% !important;
}

.importantBox {
  margin-top: -30px;
  z-index: 55;
  position: relative;
}
.importantBox .box {
  height: 220px;
  padding: 40px 30px;
}
.importantBox .box .boxText h5 {
  color: white;
}
.importantBox .box .boxText p {
  color: white;
  padding-top: 5px;
}
.importantBox .box .boxText .fa-phone {
  color: #21CDC0;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 8px;
  border-radius: 20px;
}
.importantBox .box .boxText hr {
  color: white;
  margin: 3px 0;
}
.importantBox .box1 {
  border-radius: 10px 0 0 10px;
  background-color: #2D4990;
  background-image: url(../../../assets/img/box1Bg.png);
  background-repeat: no-repeat;
  background-position: bottom left;
}
.importantBox .box2 {
  background-color: #3851A2;
  background-image: url(../../../assets/img/box2Bg.png);
  background-repeat: no-repeat;
  background-position: bottom left;
}
.importantBox .box3 {
  border-radius: 0 10px 10px 0;
  background-color: #21CDC0;
  background-image: url(../../../assets/img/box3Bg.png);
  background-repeat: no-repeat;
  background-position: bottom left;
}

.aboutSection {
  margin-top: 50px;
}
.aboutSection .aboutImg {
  height: 520px;
  background-image: url(../../../assets/img/aboutImg1.png), url(../../../assets/img/aboutImg2.png);
  background-repeat: no-repeat, no-repeat;
  background-position: top left, right bottom;
  position: relative;
}
.aboutSection .aboutImg .playBtn {
  position: absolute;
  right: 0;
  bottom: 0;
}
.aboutSection .aboutImg .playBtn .btn {
  color: white;
  font-weight: bold;
}
.aboutSection .aboutImg .playBtn .btn:hover {
  color: #0E204D;
}
.aboutSection .aboutContent .heading {
  margin-left: -70px;
}
.aboutSection .aboutContent p {
  padding-top: 10px;
  text-align: justify;
}

.clinicsSection {
  background-image: url(../../../assets/img/fadeDarkBg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.clinicsSection h3 {
  color: white;
}
.clinicsSection p {
  color: white;
}
.clinicsSection .darkBox {
  background-color: #2D4990;
}
.clinicsSection .lightBox {
  background-color: #21CDC0;
}
.clinicsSection .box {
  text-align: center;
  border-radius: 10px;
  padding: 15px 5px;
  margin-top: 20px;
}
.clinicsSection .box h6 {
  color: white;
  padding-top: 12px;
  margin: 0;
}
.clinicsSection .box:hover {
  background-color: #0E204D;
}
.clinicsSection .box:hover h6 {
  color: #21CDC0;
}

/*# sourceMappingURL=home.css.map */
