.navbar {
  background-color: white;
  padding: 0;
  z-index: 999;
}
.navbar .navbar-nav a {
  font-size: 12px;
  font-weight: bold;
  color: #3851A2;
}
.navbar .navbar-nav a:hover, .navbar .navbar-nav a :active {
  color: #0E204D;
}
.navbar .navbar-nav .dropdown-item:active {
  background-color: #21CDC0;
}

.topnav_bar {
  background-color: #0E204D;
  padding: 8px;
  z-index: 999;
  position: relative;
}
.topnav_bar p {
  color: white;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 1px;
}
.topnav_bar p i {
  color: #21CDC0;
  padding: 3px;
}
.topnav_bar p i:hover {
  color: white;
}

.carousel {
  width: 100%;
  height: 100vh;
  margin-top: -101px;
}
.carousel .slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.carousel .slide .sliderText {
  position: absolute;
  bottom: 70px;
}
.carousel .swiper-pagination {
  left: 90% !important;
}

.importantBox {
  margin-top: -30px;
  z-index: 55;
  position: relative;
}
.importantBox .box {
  height: 220px;
  padding: 40px 30px;
}
.importantBox .box .boxText h5 {
  color: white;
}
.importantBox .box .boxText p {
  color: white;
  padding-top: 5px;
}
.importantBox .box .boxText .fa-phone {
  color: #21CDC0;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 8px;
  border-radius: 20px;
}
.importantBox .box .boxText hr {
  color: white;
  margin: 3px 0;
}
.importantBox .box1 {
  border-radius: 10px 0 0 10px;
  background-color: #2D4990;
  background-image: url(../../../assets/img/box1Bg.png);
  background-repeat: no-repeat;
  background-position: bottom left;
}
.importantBox .box2 {
  background-color: #3851A2;
  background-image: url(../../../assets/img/box2Bg.png);
  background-repeat: no-repeat;
  background-position: bottom left;
}
.importantBox .box3 {
  border-radius: 0 10px 10px 0;
  background-color: #21CDC0;
  background-image: url(../../../assets/img/box3Bg.png);
  background-repeat: no-repeat;
  background-position: bottom left;
}

.aboutSection {
  margin-top: 50px;
}
.aboutSection .aboutImg {
  height: 520px;
  background-image: url(../../../assets/img/aboutImg1.png), url(../../../assets/img/aboutImg2.png);
  background-repeat: no-repeat, no-repeat;
  background-position: top left, right bottom;
  position: relative;
}
.aboutSection .aboutImg .playBtn {
  position: absolute;
  right: 0;
  bottom: 0;
}
.aboutSection .aboutImg .playBtn .btn {
  color: white;
  font-weight: bold;
}
.aboutSection .aboutImg .playBtn .btn:hover {
  color: #0E204D;
}
.aboutSection .aboutContent .heading {
  margin-left: -70px;
}
.aboutSection .aboutContent p {
  padding-top: 10px;
  text-align: justify;
}

.clinicsSection {
  background-image: url(../../../assets/img/fadeDarkBg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.clinicsSection h3 {
  color: white;
}
.clinicsSection p {
  color: white;
}
.clinicsSection .darkBox {
  background-color: #2D4990;
}
.clinicsSection .lightBox {
  background-color: #21CDC0;
}
.clinicsSection .box {
  text-align: center;
  border-radius: 10px;
  padding: 15px 5px;
  margin-top: 20px;
}
.clinicsSection .box h6 {
  color: white;
  padding-top: 12px;
  margin: 0;
}
.clinicsSection .box:hover {
  background-color: #0E204D;
}
.clinicsSection .box:hover h6 {
  color: #21CDC0;
}

.servicesSection {
  background-image: url(../../../assets/img/lightBg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.servicesSection .serviceLeft {
  background-image: url(../../../assets/img/service/serviceImg.png);
  background-repeat: no-repeat;
  background-position: bottom left;
}
.servicesSection .serviceRight .box {
  background-color: white;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: right bottom;
}
.servicesSection .serviceRight .box .boxImg {
  background-color: #0E204D;
  text-align: center;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}
.servicesSection .serviceRight .box .boxText {
  padding: 20px;
}

.doctorsSection .doctors .item {
  background-color: rgba(33, 205, 192, 0.1);
  border-radius: 10px;
}
.doctorsSection .doctors .item .text {
  padding: 20px;
}
.doctorsSection .doctors .item .text h6 {
  margin: 0;
}
.doctorsSection .doctors .item .text .clinic {
  color: #21CDC0;
  font-style: italic;
  padding-bottom: 10px;
}
.doctorsSection .doctors .item .socialIcon i {
  color: white;
  padding: 8px;
  border-radius: 5px;
  transition: 0.2s linear;
}
.doctorsSection .doctors .item .socialIcon i:hover {
  background-color: #0E204D;
  border-radius: 20px;
}
.doctorsSection .doctors .item .socialIcon .darkIcon {
  background-color: #2D4990;
}
.doctorsSection .doctors .item .socialIcon .lightIcon {
  background-color: #21CDC0;
}

.articleSection {
  background-image: url(../../../assets/img/lightBg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.articleSection .article {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 0px 1px 5px rgba(14, 32, 77, 0.5);
}
.articleSection .article:hover {
  background-color: #2D4990;
}
.articleSection .article:hover h6 {
  color: white;
}
.articleSection .article:hover p {
  color: #21CDC0;
}
.articleSection .article:hover hr {
  color: white;
}
.articleSection .article .category {
  color: #21CDC0;
  padding-bottom: 8px;
}
.articleSection .article hr {
  margin: 10px 0px;
}
.articleSection .article p {
  padding-right: 10px;
}
.articleSection .article p i {
  color: #21CDC0;
  padding-right: 10px;
}

.offer {
  background-color: #0E204D;
  padding: 20px 0;
}
.offer p {
  color: #21CDC0;
}
.offer h3 {
  color: white;
}
.offer .form-control {
  border-radius: 20px;
  font-size: 12px;
  border: none;
}

.testimonial {
  background-image: url(../../../assets/img/lightBg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.testimonial .box {
  background-color: #0E204D;
  border-radius: 10px;
  margin-top: 20px;
  padding: 30px;
  background-image: url(../../../assets/img/testi.png);
  background-repeat: no-repeat;
  background-position: right 20px bottom;
}
.testimonial .box p {
  color: white;
}
.testimonial .box .name {
  color: #21CDC0;
}
.testimonial .box i {
  color: white;
}

/*# sourceMappingURL=home.css.map */
